/* .siteHeader {
  width: 90%;
  max-width: 55rem;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 35em) {
  .wrap {
    flex-direction: row;
  }
}

.navMain ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.navMain li {
  margin-right: 1em;
}

.siteId {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.siteId__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 0.5em;
  background: none;
}
.siteId__logo {
  height: 5rem;
  width: 5rem;
  margin-right: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.siteId__logo .logo {
  height: auto;
  max-width: 100%;
}
.siteId__name {
  font-size: 1.5em;
}
.siteId__namePart {
  display: block;
  transform: rotate(-3deg) translateY(-2px);
  line-height: 1;
  font-weight: bold;
} */
