/* html {
  font-size: 16px;
  background-color: #fffff8;
  color: #000000;
  box-sizing: border-box;
}

/*

*,
*:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

.content {
  max-width: 34rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

pre,
code {
  background-color: #eee;
  color: #111;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre {
  max-width: 100%;
  overflow: scroll;
  padding: 1em;
}

a {
  font-weight: bold;
  text-decoration: none;
  background-size: 100% 200%;
  background-position-y: 10%;
  transition: 200ms background-position-y;
}
a:hover, a:focus {
  background-position-y: 20%;
}

textarea {
  max-width: 100%;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-image: none;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #fff;
  display: block;
  font-weight: bold;
  height: auto;
  left: 3em;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 3em;
  width: auto;
  z-index: 100000;
} */
